.SynthRoom {
  display: flex;
  width: 1440px;
  flex-wrap: wrap;
  justify-content: flex-end;
  .Row {
    position: relative;
    & > div {
      h2 {
        font-size: 25px;
        line-height: 25px;
        font-family: 'Nostra';
        background-color: var(--objects-color);
        padding: 5px 4px;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .Slider.Volume,
      .Slider.Portamento,
      .Slider.Phase,
      .Slider.Harmonicity,
      .Slider.Harmonicity {
        input {
          height: 42px;
        }
      }
    }
    .FreeverbEffect,
    .PingPongDelayEffect,
    .TremoloEffect,
    .VibratoEffect,
    .FeedbackDelayEffect,
    .JCReverbEffect {
      width: 132px;
    }
    .Channel {
      .ToggleButton {
        width: 87px;
        height: 95px;
        background-image: url('/assets/channel_off.svg');
        color: transparent;
      }
    }
  }
  .Row:nth-of-type(3),
  .Row:nth-of-type(4),
  .Row:nth-of-type(5) {
    .AttackSection {
      display: flex;
      input {
        width: 170px;
      }
      .ButtonSet {
        display: none;
      }
    }
    .DecaySection {
      display: flex;
      input {
        width: 170px;
      }
      .ButtonSet {
        display: none;
      }
    }
    .SustainSection {
      display: flex;
      input {
        width: 170px;
      }
      .ButtonSet {
        display: none;
      }
    }
    .ReleaseSection {
      display: flex;
      input {
        width: 170px;
      }
      .ButtonSet {
        display: none;
      }
    }
  }
  .Row:nth-of-type(1) {
    padding: 0 19px 0 25px;
    width: 724px;
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 873px 140px;
    background-image: url('/assets/verse_synth_back.png');
    background-repeat: no-repeat;
    order: 1;
    .ToneSynth {
      grid-template-columns: 85px 85px 85px 85px 85px 85px 85px 85px;
      grid-template-rows: 95px 95px 44px 37px 71px 57px 99px 37px 37px 264px;
      margin-top: 37px;
      width: 680px;
      grid-area: 1 / 1 / 2 / 5;
      .SynthName {
        grid-area: 1 / 1 / 3 / 6;
        div:nth-of-type(1) {
          align-self: self-end;
          width: 255px;
        }
        div:nth-of-type(2) {
          margin-left: 0;
          width: 255px;
        }
      }
      .Slider.Volume {
        grid-area: 6 / 1 / 7 / 5;
      }
      .Knob {
        grid-area: 3 / 1 / 6 / 3;
      }
      .Slider.Portamento {
        grid-area: 7 / 1 / 8 / 5;
      }
      h2:nth-of-type(1) {
        grid-area: 4 / 5 / 5 / 9;
        align-self: self-end;
      }
      .OscillatorButtonSet {
        grid-area: 7 / 5 / 9 / 9;
        margin-top: 2px;
        .ButtonSet {
          & > div {
            width: 320px;
            justify-content: flex-end;
            align-self: flex-end;
            .ToggleButton {
              margin: 0 0 8px 8px;
            }
          }
        }
      }
      .Slider.Phase {
        grid-area: 5 / 5 / 6 / 9;
        margin-top: 15px;
      }
      .Slider.Harmonicity {
        grid-area: 6 / 5 / 7 / 9;
      }
      h2:nth-of-type(2) {
        grid-area: 8 / 1 / 9 / 5;
      }
      .AttackSection {
        grid-area: 9 / 1 / 11 / 3;
        border-left: 2px solid var(--objects-color);
        border-right: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 66px 0 11px;
        justify-content: space-between;
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
      .DecaySection {
        grid-area: 9 / 3 / 11 / 5;
        border-right: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 66px 0 11px;
        justify-content: space-between;
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
      .SustainSection {
        grid-area: 10 / 5 / 11 / 7;
        border-right: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
      }
      .ReleaseSection {
        grid-area: 10 / 7 / 11 / 9;
        border-right: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
        .Slider {
          margin-bottom: 26px;
        }
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
    }
    .Channel {
      position: absolute;
      top: 132px;
      left: 450px;
    }
  }
  .Row:nth-of-type(2) {
    order: 2;
    padding: 0 25px 0 11px;
    width: 716px;
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 757px 156px 140px;
    background-image: url('/assets/chorus_synth_back.png');
    background-position: bottom;
    background-repeat: no-repeat;
    .ToneSynth {
      grid-template-columns: 85px 85px 85px 85px 85px 85px 85px 85px;
      grid-template-rows: 35px 95px 95px 84px 53px 94px 35px 267px;
      width: 680px;
      grid-area: 1 / 1 / 2 / 5;
      .SynthName {
        grid-area: 2 / 1 / 4 / 5;
        div:nth-of-type(1) {
          width: 288px;
          margin-left: -116px;
        }
        div:nth-of-type(2) {
          margin-left: 0;
          width: 255px;
        }
      }
      .Slider.Volume {
        margin-top: 32px;
        grid-area: 4 / 1 / 5 / 5;
      }
      .Knob {
        grid-area: 6 / 1 / 8 / 3;
        .wrapper {
          margin-bottom: 0;
        }
      }
      .Slider.Portamento {
        grid-area: 5 / 1 / 6 / 5;
        align-self: center;
      }
      h2:nth-of-type(1) {
        grid-area: 1 / 3 / 2 / 7;
      }
      .OscillatorButtonSet {
        grid-area: 1 / 4 / 5 / 9;
        .ButtonSet {
          display: flex;
          flex-direction: column;
          & > div {
            margin-left: 78px;
            flex-direction: column;
            height: 288px;
            width: fit-content;
            align-self: flex-start;
            .ToggleButton {
              margin: 0 0 8px 80px;
              width: fit-content;
              align-self: flex-end;
              &:nth-of-type(1) {
                margin-top: 65px;
              }
              &:nth-of-type(5) {
                margin-bottom: 40px;
              }
            }
          }
        }
      }
      .Slider.Phase {
        grid-area: 5 / 5 / 6 / 9;
        align-self: center;
      }
      .Slider.Harmonicity {
        margin-top: 7px;
        grid-area: 6 / 5 / 7 / 9;
      }
      h2:nth-of-type(2) {
        grid-area: 7 / 3 / 8 / 7;
      }
      .AttackSection {
        grid-area: 8 / 1 / 9 / 3;
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
        justify-content: space-between;
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
      .DecaySection {
        grid-area: 8 / 3 / 9 / 5;
        border-left: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
        justify-content: space-between;
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
      .SustainSection {
        grid-area: 8 / 5 / 9 / 7;
        border-left: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
      }
      .ReleaseSection {
        grid-area: 8 / 7 / 9 / 9;
        border-left: 2px solid var(--objects-color);
        border-right: 2px solid var(--objects-color);
        display: flex;
        flex-direction: column;
        padding: 29px 0 11px;
        .Slider {
          margin-bottom: 26px;
        }
        .ButtonSet {
          align-items: flex-end;
          & > div {
            align-items: flex-end;
            flex-direction: column;
            .ToggleButton {
              margin-top: 8px;
              width: fit-content;
            }
          }
        }
      }
    }
    .TremoloEffect {
      grid-area: 3 / 1 / 4 / 2;
    }
    .VibratoEffect {
      grid-area: 3 / 2 / 4 / 3;
    }
    .Channel {
      position: absolute;
      top: 35px;
      left: 179px;
    }
  }
  .Row:nth-of-type(3) {
    order: 4;
    padding: 0 25px 0 11px;
    width: 716px;
    grid-template-rows: 873px 140px;
    margin-top: -235px;
    height: 690px;
    background-image: url('/assets/main_synth_back.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    .ToneSynth {
      grid-template-columns: 85px 85px 85px 85px 85px 85px 85px 85px;
      grid-template-rows: 95px 95px 159px 37px 28px 78px 37px 48px 23px 23px 54px;
      width: 680px;
      .SynthName {
        grid-area: 1 / 5 / 3 / 9;
        div:nth-of-type(1) {
          width: 221px;
          align-self: self-end;
        }
        div:nth-of-type(2) {
          margin-left: 0;
          width: 255px;
        }
      }
      .Slider.Volume {
        margin-top: 15px;
        grid-area: 4 / 5 / 6 / 9;
      }
      .Knob {
        grid-area: 3 / 5 / 4 / 7;
        .wrapper {
          margin-bottom: 0;
        }
      }
      .Slider.Portamento {
        grid-area: 6 / 5 / 7 / 9;
        margin-top: 18px;
      }
      h2:nth-of-type(1) {
        grid-area: 4 / 1 / 5 / 5;
      }
      .OscillatorButtonSet {
        grid-area: 6 / 1 / 9 / 5;
        .ButtonSet {
          & > div {
            width: 320px;
            align-self: flex-start;
            .ToggleButton {
              margin: 0 8px 8px 0;
            }
          }
        }
      }
      .Slider.Phase {
        grid-area: 9 / 1 / 11 / 5;
        margin-top: 4px;
      }
      .Slider.Harmonicity {
        grid-area: 11 / 1 / 12 / 5;
        margin-top: 14px;
      }
      h2:nth-of-type(2) {
        grid-area: 7 / 5 / 8 / 9;
      }
      .AttackSection {
        grid-area: 8 / 5 / 10 / 7;
        margin-top: 50px;
      }
      .DecaySection {
        grid-area: 10 / 5 / 12 / 7;
        margin-top: 27px;
      }
      .SustainSection {
        grid-area: 8 / 7 / 10 / 9;
        margin-top: 50px;
      }
      .ReleaseSection {
        grid-area: 10 / 7 / 12 / 9;
        margin-top: 27px;
      }
    }
    .Channel {
      position: absolute;
      top: 190px;
      left: 604px;
    }
  }

  .Row:nth-of-type(4) {
    order: 3;
    padding: 0 19px 0 25px;
    width: 724px;
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 672px 140px;
    background-image: url('/assets/bass_synth_back.png');
    background-position-y: bottom;
    background-repeat: no-repeat;

    .ToneSynth {
      grid-template-columns: 85px 85px 85px 85px 85px 85px 85px 85px;
      grid-template-rows: 58px 37px 73px 46px 47px 60px 37px 151px 72px 91px;
      width: 680px;
      .SynthName {
        grid-area: 1 / 1 / 5 / 5;
        div:nth-of-type(1) {
          width: 200px;
        }
        div:nth-of-type(2) {
          margin-left: 0;
          width: 245px;
          align-self: self-end;
        }
      }
      .Slider.Volume {
        margin-top: 40px;
        grid-area: 4 / 1 / 6 / 5;
      }
      .Knob {
        grid-area: 8 / 1 / 9 / 3;
        margin: -18px 0 0 -72px;
      }
      .Slider.Portamento {
        grid-area: 6 / 1 / 7 / 5;
      }
      h2:nth-of-type(1) {
        grid-area: 7 / 3 / 8 / 7;
      }
      .OscillatorButtonSet {
        margin-top: 24px;
        grid-area: 8 / 3 / 9 / 7;
        .ButtonSet {
          & > div {
            width: 346px;
            justify-content: flex-end;
            align-self: flex-end;
            .ToggleButton {
              margin: 0 0 8px 8px;
            }
          }
        }
      }
      .Slider.Phase {
        grid-area: 9 / 1 / 10 / 5;
        margin-top: 21px;
        width: 302px;
      }
      .Slider.Harmonicity {
        grid-area: 10 / 1 / 11 / 5;
        margin-top: 6px;
        width: 302px;
      }
      h2:nth-of-type(2) {
        grid-area: 2 / 5 / 3 / 9;
      }
      .AttackSection {
        grid-area: 3 / 7 / 4 / 9;
        margin-top: 29px;
        margin-left: -2px;
      }
      .DecaySection {
        grid-area: 4 / 7 / 5 / 9;
        margin-left: -2px;
      }
      .SustainSection {
        grid-area: 5 / 7 / 6 / 9;
        margin-left: -2px;
      }
      .ReleaseSection {
        grid-area: 6 / 7 / 7 / 9;
        margin-left: -2px;
      }
    }
    .FeedbackDelayEffect {
      grid-area: 2 / 1 / 3 / 3;
    }
    .JCReverbEffect {
      grid-area: 2 / 2 / 3 / 3;
    }
    .Channel {
      position: absolute;
      top: 189px;
      left: 365px;
    }
  }
  .Row:nth-of-type(5) {
    order: 5;
    padding: 0 25px 0 0;
    width: 1073px;
    height: 377px;
    margin-top: -311px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 707px 170px 55px 115px 25px;
    grid-template-rows: 59px 131px 187px;
    background-image: url('/assets/drum_sampler_back.png');
    background-position: bottom;
    background-repeat: no-repeat;
    .Sampler {
      display: grid;
      grid-area: 1 / 1 / 4 / 6;
      grid-template-columns: 367px 340px 170px 55px 115px;
      grid-template-rows: 95px 33px 62px 37px 61px 89px;
      .SamplerName {
        grid-area: 1 / 2 / 3 / 4;
        height: 190px;
        div:nth-of-type(1) {
          width: 200px;
          height: 95px;
        }
        div:nth-of-type(2) {
          margin-left: -107px;
          width: 335px;
          height: 95px;
        }
      }
      .Slider.Volume {
        grid-area: 1 / 3 / 3 / 5;
        margin-top: 76px;
      }
      h2 {
        grid-area: 4 / 3 / 5 / 6;
      }
      .ButtonSet {
        display: none;
      }
      .Slider.Attack {
        grid-area: 5 / 3 / 6 / 4;
        margin-top: 40px;
      }
      .Slider.Release {
        grid-area: 5 / 4 / 6 / 6;
        margin-top: 40px;
      }
    }
    .FreeverbEffect {
      grid-area: 2 / 4 / 3 / 5;
      width: 115px;
    }
    .Channel {
      position: absolute;
      top: 95px;
      left: 595px;

      .ToggleButton {
        width: 113px;
        background-position-x: center;
      }
    }
    .Sequencer {
      width: 707px !important;
      min-width: 707px !important;
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}
