.SequencerRow {
  display: flex;

  .ToggleButton {
    width: 6.25%;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    background-repeat: no-repeat;
    background-image: url('/assets/unfilled.svg');
    &.active {
      background-image: url('/assets/filled.svg');
    }
  }
}
