.Slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  input[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #fbfbfc;
  }
  input[type='range']::-webkit-slider-runnable-track {
    cursor: default;
    height: 4px;
    transition: all 0.2s ease;
    width: 100%;
    background: var(--objects-color);
  }
  input[type='range']::-webkit-slider-thumb {
    // background: var(--dark-green);
    border-radius: 19px;
    box-sizing: border-box;
    cursor: default;
    height: 38px;
    width: 88px;
    -webkit-appearance: none;
    margin-top: -18px;
  }
  [type='range']:disabled::-webkit-slider-thumb,
  [type='range']:disabled::-moz-range-thumb,
  [type='range']:disabled::-ms-thumb,
  [type='range']:disabled::-webkit-slider-runnable-track,
  [type='range']:disabled::-ms-fill-lower,
  [type='range']:disabled::-ms-fill-upper {
    cursor: not-allowed;
  }
  &.Attack {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/attack.svg');
      background-size: cover;
    }
  }
  &.Decay {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/decay.svg');
      background-size: cover;
    }
  }
  &.Sustain {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/sustain.svg');
      background-size: cover;
    }
  }
  &.Release {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/release.svg');
      background-size: cover;
    }
  }
  &.Volume {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/volume.svg');
      background-size: cover;
      width: 125px;
    }
  }
  &.Portamento {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/portamento.svg');
      background-size: cover;
      width: 125px;
    }
  }
  &.Phase {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/phase.svg');
      background-size: cover;
      width: 125px;
    }
  }
  &.Harmonicity {
    input[type='range']::-webkit-slider-thumb {
      background-image: url('/assets/harmonicity.svg');
      background-size: cover;
      width: 125px;
    }
  }
  &.Wet {
    input[type='range']::-webkit-slider-thumb {
      background-color: var(--white);
      width: 12px;
      height: 12px;
      border-radius: 0;
      margin-top: -4px;
    }
    input[type='range']::-webkit-slider-runnable-track {
      background: var(--white);
      height: 2px;
    }
  }
}
