.FreeverbEffect,
.PingPongDelayEffect,
.TremoloEffect,
.VibratoEffect,
.FeedbackDelayEffect,
.JCReverbEffect {
  background-color: var(--objects-color);
  height: 140px;
  width: 140px;
  h1 {
    margin: 12px 0 36px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  }
}
