@font-face {
  font-family: 'PTMono';
  src: asset-url('PTMono-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Nostra';
  src: asset-url('Nostra-Stream-Trial.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'PTMono';
  src: asset-url('PTMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: asset-url('Nostra-Stream-Trial.ttf') format('truetype');
  font-weight: normal;
}
