div {
  box-sizing: border-box;
}
header {
  background-image: image-url('header.svg');
  display: block;
  width: 1440px;
  height: 74px;
}

.Page {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 983px;
  background-color: #f7f7f7;
  width: 1440px;
  height: 983px;
  background-color: #f7f7f7;
  .Constructor {
    display: flex;
    justify-content: space-between;
    .Wrapper {
      width: 1019px;
      height: 726px;
      background-image: image-url('t-shirt.png');
      padding-top: 1px;
      margin-top: -1px;
      .Artboard {
        position: relative;
        width: 448px;
        margin: 245px 0px 0px 224px;
        height: 448px;
        box-sizing: border-box;
        display: block;
        .Container {
          box-sizing: border-box;
          display: inline-block;
          transform-origin: 0 0;
          display: grid;
          margin: auto;
          //zoom: 0.2;
          //-moz-transform: scale(0.2);
          grid-template-rows: 544px 544px min-content;
          position: relative;
          height: fit-content;
          width: fit-content;
          .Tag {
            display: block;
            color: white;
            text-transform: uppercase;
            font-size: 136px;
            line-height: 148px;
            padding: 42px 112px 62px 112px;
            width: max-content;
            border: 8px solid white;
            border-radius: 126px;
            margin: 50px;
            height: 252px;
            white-space: nowrap;
          }
          .Shadow {
            width: 1985px;
            height: 1156px;
            grid-row: 3 / 4;
            &.shadow-stroke {
              background-image: image-url('shadowStroke.svg');
            }
            &.shadow-blue {
              background-image: image-url('shadowBlue.svg');
            }
            &.shadow-pink {
              background-image: image-url('shadowPink.svg');
            }
            &.shadow-red {
              background-image: image-url('shadowRed.svg');
            }
          }
          .Ribbon {
            width: 1734px;
            height: max-content;
          }
          .Frame {
            height: fit-content;
            display: grid;
            .FirstCloud {
              z-index: 3;
              border-radius: 226px;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              height: max-content;
              padding: 50px;
            }
            .ThirdCloud {
              z-index: 2;
              border-radius: 226px;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }
          .Frame-left-0 {
            height: fit-content;
            display: grid;
            grid-template-columns: 452px min-content;
            grid-template-rows: repeat(auto-fit, 352px);
            .FirstCloud {
              grid-column: 1 / 2;
              grid-row: 2;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              grid-row: 2;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
            }
            .ThirdCloud {
              grid-column: 1 / 2;
              grid-row: 1;
              z-index: 2;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-left-1 {
            height: fit-content;
            display: grid;
            grid-template-columns: 452px min-content;
            grid-template-rows: repeat(auto-fit, 352px);
            .FirstCloud {
              grid-column: 1 / 2;
              grid-row: 2;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
            }
            .ThirdCloud {
              grid-column: 1 / 2;
              grid-row: 1;
              z-index: 2;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-left-2 {
            height: fit-content;
            display: grid;
            grid-template-columns: 452px min-content;
            grid-template-rows: repeat(auto-fit, 352px);
            .FirstCloud {
              grid-column: 1 / 2;
              grid-row: 3;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              grid-row: 1;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
            }
            .ThirdCloud {
              grid-column: 1 / 2;
              grid-row: 2;
              z-index: 2;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-left-3 {
            height: fit-content;
            display: grid;
            grid-template-columns: 452px min-content;
            grid-template-rows: repeat(auto-fit, 352px);
            .FirstCloud {
              margin-top: 352px;
              grid-column: 1 / 2;
              grid-row: 3;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              grid-row: 1;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
            }
            .ThirdCloud {
              margin-top: 352px;
              grid-column: 1 / 2;
              grid-row: 2;
              z-index: 2;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-right-0 {
            height: fit-content;
            display: grid;
            grid-template-columns: min-content min-content 452px;
            grid-template-rows: repeat(auto-fit, 352px);
            justify-content: flex-end;
            .FirstCloud {
              grid-column: 3 / 4;
              justify-self: flex-end;
              grid-row: 2;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              flex-direction: row-reverse;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-row: 2;
              grid-column: 2 / 3;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
              justify-self: end;
              flex-direction: row-reverse;
            }
            .ThirdCloud {
              grid-row: 1;
              z-index: 2;
              grid-column: 3 / 4;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }
          .Frame-right-1 {
            height: fit-content;
            display: grid;
            grid-template-columns: min-content min-content 452px;
            grid-template-rows: repeat(auto-fit, 352px);
            justify-content: flex-end;
            .FirstCloud {
              grid-column: 3 / 4;
              justify-self: flex-end;
              grid-row: 2;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              flex-direction: row-reverse;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
              justify-self: end;
              flex-direction: row-reverse;
            }
            .ThirdCloud {
              grid-row: 1;
              z-index: 2;
              grid-column: 3 / 4;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-right-2 {
            height: fit-content;
            display: grid;
            grid-template-columns: min-content min-content 452px;
            grid-template-rows: repeat(auto-fit, 352px);
            justify-content: flex-end;
            .FirstCloud {
              grid-column: 3 / 4;
              justify-self: flex-end;
              grid-row: 3;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              flex-direction: row-reverse;
              .Sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
              justify-self: end;
              flex-direction: row-reverse;
            }
            .ThirdCloud {
              grid-row: 2;
              z-index: 2;
              grid-column: 3 / 4;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .Sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }

          .Frame-right-3 {
            height: fit-content;
            display: grid;
            grid-template-columns: min-content min-content 452px;
            grid-template-rows: repeat(auto-fit, 352px);
            justify-content: flex-end;
            .FirstCloud {
              margin-top: 352px;
              grid-column: 3 / 4;
              justify-self: flex-end;
              grid-row: 3;
              z-index: 3;
              border-radius: 226px;
              top: 352px;
              background-color: #2836ff;
              width: max-content;
              height: max-content;
              padding: 50px;
              display: inline-flex;
              align-content: flex-end;
              flex-wrap: wrap;
              flex-direction: row-reverse;
              .sticker {
                background-image: url(sticker-arrow.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
            .SecondCloud {
              grid-column: 2 / 3;
              z-index: 2;
              display: flex;
              flex-wrap: wrap;
              border-radius: 226px;
              background-color: #2836ff;
              height: max-content;
              padding: 50px;
              justify-self: end;
              flex-direction: row-reverse;
            }
            .ThirdCloud {
              margin-top: 352px;
              grid-row: 2;
              z-index: 2;
              grid-column: 3 / 4;
              border-radius: 226px;
              background-color: #2836ff;
              box-sizing: border-box;
              padding: 50px;
              width: 452px;
              .sticker {
                background-image: url(sticker-vee.svg);
                width: 252px;
                height: 252px;
                background-size: cover;
                margin: 50px;
              }
            }
          }
        }

        .Right {
          grid-template-columns: min-content 124px 500px;
          .Shadow {
            grid-column: 1 / 3;
            justify-self: flex-end;
            z-index: 0;
          }
          .Ribbon {
            width: 1734px;
            height: max-content;
            grid-row: 1;
            z-index: 1;
            grid-column: 3 / 4;
            justify-self: flex-end;
            position: static;
          }
          .Frame {
            display: grid;
            grid-template-columns: min-content min-content 452px;
            grid-template-rows: repeat(auto-fit, 352px);
            justify-content: flex-end;
            grid-row: 2 / 4;
            grid-column: 1 / 2;
            z-index: 2;
          }
        }

        .Left {
          grid-template-columns: 500px 124px min-content;
          .Shadow {
            grid-column: 2 / 4;
            z-index: 0;
          }
          .Ribbon {
            width: 1734px;
            height: max-content;
            z-index: 2;
            grid-column: 1 / 4;
            position: static;
            grid-row: 1;
          }
          .Frame {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
            z-index: 2;
          }
        }
      }
    }
    .Control {
      width: 347px;
      .ControlCard {
        margin: 90px 0 32px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        width: 299px;
        background: #ffffff;
        border-radius: 32px;
        h1 {
          font-size: 14px;
          line-height: 22px;
          margin: 0 0 8px 0;
        }
        .ButtonSet {
          display: flex;
          div {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            cursor: pointer;
          }
          .ToggleButton {
            cursor: pointer;

            &:hover:not(.active) {
              background-color: var(--white);
              filter: brightness(90%);
            }

            &.active {
              font-weight: 800;
              color: white;
              background-color: black;
              cursor: default;
            }
          }
        }
        .ControlRibbon {
          margin-bottom: 32px;
          .Input_container {
            height: 40px;
            width: 235px;
            margin-bottom: 12px;
            .tg {
              height: 40px;
              width: 235px;
              border-radius: 4px;
              border: 1px solid #bdcfd6;
            }
          }
          .ButtonSet {
            div {
              width: 48px;
              height: 32px;
              border-radius: 5px;
            }
            div:nth-of-type(1) {
              background-image: url(ribbon-option-arc.svg);
            }
            div:nth-of-type(2) {
              background-image: url(ribbon-option-ellipse.svg);
            }
            div:nth-of-type(3) {
              background-image: url(ribbon-option-circle.svg);
            }
            div:nth-of-type(4) {
              background-image: url(ribbon-option-snake.svg);
            }
            div.active {
              background-color: #e6e6e6;
            }
          }
        }
        .ControlTags {
          margin-bottom: 32px;
          .ButtonSet {
            width: 94px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            div {
              width: 24px;
              height: 24px;
              border-radius: 12px;
              position: relative;
            }
            div:nth-of-type(1) {
              background-color: #2836ff;
            }
            div:nth-of-type(2) {
              background-color: #fd24e4;
            }
            div:nth-of-type(3) {
              background-color: #f54f59;
            }
          }
          .Slider {
            width: 235px;
            display: flex;
            justify-content: space-between;
            input[type='range'] {
              -webkit-appearance: none;
              width: 100%;
            }

            input[type='range']::-webkit-slider-runnable-track {
              height: 2px;
              background: #1890ff;
              border: none;
            }

            input[type='range']::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: none;
              height: 14px;
              width: 14px;
              border-radius: 50%;
              background: #1890ff;
              margin-top: -6px;
              cursor: pointer;
            }

            input[type='range']:focus {
              outline: none;
            }

            input[type='range']:focus::-webkit-slider-runnable-track {
              background: #1890ff;
            }
          }
        }
        .ControlShadow {
          margin-bottom: 0px;
          .ButtonSet {
            width: 58px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            div {
              width: 24px;
              height: 24px;
              border-radius: 12px;
              position: relative;
            }
            div:nth-of-type(1) {
              background-image: url(shadow-option-stroke.svg);
            }
            div:nth-of-type(2) {
              background-image: url(shadow-option-gradient.svg);
            }
          }
        }
        .active:before {
          background: none;
          border: 2px solid #1890ff;
          content: '';
          display: block;
          position: absolute;
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          pointer-events: none;
          border-radius: 16px;
        }
      }
      .Button {
        width: 72px;
        height: 72px;
        background-image: url(random.svg);
        background-size: cover;
      }
    }
  }
}

footer {
  background-image: image-url('footer.svg');
  display: block;
  width: 1440px;
  height: 182px;
}
