<body class="promo">
  <div class="promo_wrapper">


    <div class="header_wrapper">
      <header>
        <div class="name">
          <%= image_tag("håp_icon.svg", :alt => "Логотип") %>
          <p>håp</p>
        </div>
        <button type="button" name="button">Узнать о запуске</button>
      </header>
    </div>
    <div class="thanks">
<%= image_tag("thanks.svg", :alt => "Логотип") %>
    </div>

    <footer>
      <div class="name">
        <%= image_tag("håp_icon.svg", :alt => "Логотип") %>
        <p>håp</p>
      </div>
      <span>håp ©2022</span>
      <span>Made by Olesya, Natasha, Egor </span>
    </footer>

  </div>
</body>
